.btn-small {
    font-family: "HelveticaNeue";
    font-weight: 350;
    justify-self: right;
    align-self: center;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.0rem;
    text-align: center;
    width: 11rem;
    padding: 1.3rem;
    border-radius: 0 0 1.7rem 0;
    background-color: #45BF55;
}

.btn-small:hover {
    background-color: #43A047
}

.btn-small>::after {
    position: relative;
    content: url('/svg/btn_arrow_right.svg');
    cursor: pointer;
    top: 0.1rem;
    margin-left: 0.7rem;
}


/* exit button */

.btn-exit {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    align-self: flex-end;
    cursor: pointer;
}

.btn-exit .line:nth-child(2) {
    -webkit-transform: translateY(-10px) rotate(90deg);
    -ms-transform: translateY(-10px) rotate(90deg);
    -o-transform: translateY(-10px) rotate(90deg);
    transform: translateY(-10px) rotate(90deg);
}

.btn-exit {
    width: 45px;
    height: 40px;
}

.btn-exit .line {
    width: 100%;
    height: 3px;
    background-color: #626262;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-exit.is-active {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.btn-exit.is-active .line:nth-child(2) {
    -webkit-transform: translateY(-13px) rotate(135deg);
    -ms-transform: translateY(-13px) rotate(135deg);
    -o-transform: translateY(-13px) rotate(135deg);
    transform: translateY(-13px) rotate(135deg);
}

.btn-exit.is-active .line:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}