.details-container {
    display: none;
    z-index: 40;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    top: 0;
}

.details-content {
    width: 85%;
    grid-template-columns: repeat(6, 15.8%);
    grid-gap: 0.83%;
    grid-template-areas: "top-left . . . .  top-right" ". row-1 row-1 row-1 row-1 ." ". row-2 row-2 row-2 row-2 ." ". row-3 row-3 row-3 row-3 .";
    margin-top: 4.3rem;
}

.logo-dark {
    grid-area: top-left;
}

.btn-exit {
    grid-area: top-right;
    justify-self: right;
    align-self: flex-start;
}

.details-label {
    grid-area: row-1;
    font-family: "HelveticaNeue";
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: -0.2rem;
    line-height: 5rem;
    color: #484848;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form {
    grid-area: row-2;
}

.error-label {
    display: none;
}

.btn-proceed {
    grid-area: row-3;
    justify-self: left;
    width: 10rem;
    margin-left: 0.6rem;
}

.details-container.is-active {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: initial;
    animation: 0.3s ease-in-out 0s forwards normal reveal;
}

.details-container.hide {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    animation: 0.3s ease-in-out 0s forwards normal hide;
}

@-webkit-keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}