    body {
        background: none;
        background-color: #F8F8F8;
        height: 800px;
    }
    /*--------------------*/
    /*product style*/
    /*--------------------*/
    
    .product-container {
        font-family: "HelveticaNeue";
        text-align: center;
        background-color: #ffffff;
        border-radius: 0 0 24px 24px;
        height: 366px;
        width: 225px;
        cursor: pointer;
        box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.075);
    }
    
    .product-container:hover {
        box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.178);
    }
    
    .product-img-container {
        width: 225px;
        height: 225px;
        background-size: cover;
    }
    
    .product-name {
        font-weight: 300;
        font-size: 26px;
        top: 80%;
        margin-top: 0;
        color: #ffffff;
    }
    
    .product-label {
        font-weight: lighter;
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 30px;
    }
    
    .product-price {
        font-weight: bold;
        font-size: 21px;
        color: #484848;
        margin-top: 0;
    }
    
    .btn-add-to-basket {
        font-weight: normal;
        font-size: 14px;
        color: #45BF55;
        cursor: pointer;
    }
    
    .btn-add-to-basket:hover {
        color: #43A047;
    }
    
    .btn-add-to-basket::before {
        position: relative;
        content: url(/svg/btn_arrow_right.svg);
        cursor: pointer;
        top: 1px;
    }
    /*--------------------*/
    /*nav-bar style*/
    /*--------------------*/
    
    .nav-bar-container {
        z-index: 99;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.116);
        background-color: white;
        max-width: 102.5rem;
        height: 5.7rem;
        border-radius: 4.5rem;
        grid-template-columns: repeat(12, 7.5%);
        grid-template-rows: auto;
        grid-gap: 0.83%;
        grid-template-areas: "logo logo profile profile . . . . . . basket  menu";
        overflow: hidden;
        top: 40px;
        font-family: "Helveticaneue";
    }
    
    body .logo-container {
        grid-area: logo;
        background-color: #F3F3F3;
        border-radius: 0 0 4.5rem;
        width: 85%;
        height: 5.7rem;
    }
    
    .logo {
        height: 80%;
        left: 4rem;
    }
    
    .profile-container {
        grid-area: profile;
    }
    
    .profile-container>p {
        font-size: 0.9rem;
        font-weight: 400;
        color: #707070;
        margin: 0;
        margin-left: 0.5rem;
        top: 1.0rem;
    }
    
    .basket-container {
        grid-area: basket;
    }
    
    .btn-basket {
        height: 25%;
    }
    
    .basket-container p:nth-child(1) {
        font-size: 0.8rem;
        color: #ffffff;
        background-color: #43A047;
        width: 30px;
        height: 30px;
        padding: 7px 1px 1px 1px;
        text-align: center;
        border-radius: 100%;
        margin: 0;
        top: 1.2rem;
    }
    
    .basket-container p:nth-child(3) {
        font-size: 0.9rem;
        font-weight: 400;
        color: #707070;
        margin: 0;
        margin-left: 0.5rem;
        top: 1.5rem;
        display: none;
    }
    
    .hamburger {
        z-index: 9999;
        grid-area: menu;
        align-self: center;
        justify-self: right;
        right: 4rem;
    }
    /*--------------------*/
    /*menu style*/
    /*--------------------*/
    
    .menu-container {
        background-color: #484848;
        z-index: 10;
        top: 0;
        left: 0;
    }
    
    .menu-label {
        top: 4rem;
    }
    /*--------------------*/
    /*products style*/
    /*--------------------*/
    
    .products-container {
        grid-template-columns: repeat(auto-fit, 225px);
        grid-template-rows: auto;
        grid-gap: 13px;
        margin-top: 20rem;
        max-width: 952px;
    }
    
    @media (max-width:952px) {
        .products-container {
            max-width: 714px;
        }
    }
    
    @media (max-width:714px) {
        .products-container {
            max-width: 489px;
        }
    }
    
    @media (max-width:489px) {
        .products-container {
            max-width: 225px;
        }
    }